name: Email Step Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 23f2003131@ds.study.iitm.ac.in
        run: echo "Hello, this step is named with my email!"
